body{
    background-image: url("../images/hearts4.jpg");  

}



.jumbotron {
    text-align: center;
    width: 764px;
    height: 764px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;

}

#landingHeader {
    text-align: center;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: auto;
    margin-right: auto;
    


}
#landingFooter {
    text-align: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: auto;
    margin-right: auto;
   
    

}
#click {
    text-align: center;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: auto;

}
.intropage {
    text-align: center;
    width: 764px;
    height: 764px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: blue;

}

div.header{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    padding-bottom: 20px;
    height: 100px;
}

.btn:hover{
    background-color: hotpink;

}

.btn {
    border: none;
    background-color: cyan;
    font-size: 16px;
    cursor: pointer;
    width:500px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#startbtn {
    border: none;
    background-color: hotpink;
    font-size: 24px;
    cursor: pointer;
    width: 500px;
    margin-top: 10px;
    margin-bottom: 30px;
}
#startbtn:hover{
    background-color: cyan;

}
#quizstart{
 
}





.title{
    margin-left: auto;
    margin-right: auto;
}

.timer{
    text-align: center;
}